.basket-item {
    display: flex;
}

.basket-item__info-wrapper {
    flex-direction: column;
    margin-right: auto;
}

.basket-item__info {
    display: flex;
    flex: 1;
    align-items: center;
}

.basket-item__image {
    width: 30px;
    height: auto;
}

.basket-item__qty {
    display: flex;
    align-items: center;
}

.basket-item__qty-form {
    display: flex;
}

.basket-item__qty-field {
    width: 3rem;
}