.header {
    background-color: bisque;
}

.header__site-name {
    margin: 0;
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: cadetblue;
    padding: 1rem;
}

.nav__basket-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__basket-desktop {
    display: none;
}

.nav__basket-count {
    position: absolute;
    right: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    padding: .4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: lightskyblue;
    font-weight: bold;
}

.nav__list {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: darkcyan;
    display: none;
}

.nav__list--open {
    display: block;
}

@media (min-width: 576px) {
    .nav {
        justify-content: center;
    }


    .nav__list {
        position: static;
        display: flex;
        transform: none;
        width: auto;
    }

    .nav__basket-mobile,
    .nav__menu-toggler {
        display: none;
    }

    .nav__basket-desktop {
        display: inline-block;
    }
}

.nav__item {
    list-style: none;
    text-align: center;
}

.nav__link {
    display: block;
    padding: 1rem;
    font-size: 1.7rem;
}

.nav__link:hover {
    background-color: darkgreen;
}

.nav__link.active {
    background-color: deepskyblue;
    color: #fff;
}