.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.logoLink {
  text-decoration: none;
  margin: 1rem;
}

.logoLink:focus {
  outline: 2px dashed #000;
}
