:root {
  --color-primary: #5dd9c0;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* basic reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--font-primary);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

/* sticky footer */
.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.8rem;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem 0;
}
